.Rproj.user*
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/C3D160F8/pcs/windowlayoutstate.pper
*.pper
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/C3D160F8/pcs/source-pane.pper
.Rproj.user/C3D160F8/pcs/files-pane.pper
