.Rproj.user*
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/C3D160F8/pcs/windowlayoutstate.pper
*.pper
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/C3D160F8/pcs/source-pane.pper
.Rproj.user/C3D160F8/pcs/files-pane.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
*.pper
*.pper
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
build/.DS_Store
inst/extdata/.DS_Store
inst/.DS_Store
inst/extdata/scs.2002/.DS_Store
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/C3D160F8/pcs/windowlayoutstate.pper
*.pper
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
build/scs 1990/.DS_Store
build/.DS_Store
.Rproj.user/C3D160F8/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
